Meeting Intelligence System.json
{
  "name": "Meeting Intelligence System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "solutions4@gmail.com",
          "mode": "list",
          "cachedResultName": "solutions4@gmail.com"
        },
        "triggerOn": "eventStarted",
        "options": {
          "matchTerm": "zoom.us"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        64,
        -400
      ],
      "id": "784aa78a-8c6f-4dde-9a24-e00c03738009",
      "name": "Google Calendar",
      "notesInFlow": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "z4NFZWzZTAiEcGGs",
          "name": "Google Calendar Steve"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        -400
      ],
      "id": "f2177e0f-aeb4-41e0-88a7-d476e23b08b2",
      "name": "Delay",
      "webhookId": "ac124400-b48f-44e3-9a97-04481342dc99"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fireflies.ai/graphql",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer REDACTED\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation AddToLiveMeeting($link: String!) { addToLiveMeeting(meeting_link: $link) { success } }\",\n  \"variables\": {\n    \"link\": \"{{ $json.location ? $json.location : $json.htmlLink }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        -400
      ],
      "id": "b390f432-9e7a-4ff9-aec8-8a2505ee6873",
      "name": "Online Recording Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        -320
      ],
      "id": "8518d603-a899-4f57-a593-cecc6a34e5ac",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "52hBaVyJevbvyOiu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"actions\": [\n    {\n      \"type\": \"[action-type]\",\n      \"assignee\": \"[person]\",\n      \"deadline\": \"[date]\",\n      \"notes\": \"[text]\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1312,
        -320
      ],
      "id": "0d3e182f-60e2-44ae-9cae-dfa13fa054ab",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "solutions4@gmail.com",
          "mode": "list",
          "cachedResultName": "solutions4@gmail.com"
        },
        "start": "={{ $json.output.actions[0].date }}",
        "end": "={{ $json.output.actions[0].date + \"T11:00:00\" }}",
        "additionalFields": {
          "summary": "=Follow-up: {{ $json.output.actions[0].title }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2128,
        -848
      ],
      "id": "eb139c91-05c0-4326-abef-0453c4b11115",
      "name": "Reminder",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "z4NFZWzZTAiEcGGs",
          "name": "Google Calendar Steve"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "reminder",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "92dec163-9660-4e7d-a6c6-2a896e6742ca"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reminder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "522e08ec-0553-4619-aaee-b21e73de4a61",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Send Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f92892d5-3889-481b-8d55-9b5819a76d49",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "crm_update",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update CRM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2b4a4ca5-577d-4fa7-a30b-b9a8b081906b",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "contractor",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Assign Contractor"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1712,
        -592
      ],
      "id": "4d5ade02-52b6-4bf6-bb06-bfd787f1361b",
      "name": "Actionable Items?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}\n{{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You have to abide strictly by the output result format provided to you."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1120,
        -560
      ],
      "id": "cdb263cc-f081-4a70-be6c-1946c4e17501",
      "name": "Transcript Analysis"
    },
    {
      "parameters": {
        "transcriptId": "01JQ43GXNXN8EDA698Q952XQF7"
      },
      "type": "@firefliesai/n8n-nodes-fireflies.fireflies",
      "typeVersion": 1,
      "position": [
        640,
        -400
      ],
      "id": "ee8f8149-5a66-48af-930a-50b9a92586c5",
      "name": "Get a transcript",
      "credentials": {
        "firefliesApi": {
          "id": "TGxOmfoirqZc0LU0",
          "name": "Fireflies account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://crm.businessstartupqatar.com/rest/people/{{ $json.output.actions[2].recipient }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notes\": \"{{ $json.output.actions[2].title }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        -480
      ],
      "id": "1f31d547-aaba-4251-81b4-fcbc4187c0c4",
      "name": "Update CRM"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['actions'][0]['assignee'] === 'client' ? $node['Google Calendar'].json['attendees'][0]['email'] : 'solutions4@gmail.com' }}",
        "subject": "Meeting Documents",
        "message": "Hi {{ $node[\"Google Calendar\"].json[\"attendees\"][0][\"displayName\"] || \"there\" }},<br><br> Here are the documents from your recent meeting.<br><br> Best,<br>Steve",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2320,
        -656
      ],
      "id": "6ecef98e-ac0c-453f-a3d5-6978ed6c778e",
      "name": "Send Documents",
      "webhookId": "f16fddb9-fcb6-4096-88af-b309d59aa2cb",
      "credentials": {
        "gmailOAuth2": {
          "id": "8tR4BZ9GJzCyDJrH",
          "name": "Gmail Steve"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://crm.businessstartupqatar.com/rest/people/{{ $node[\"Search Contractor\"].json[\"data\"][0][\"id\"] }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer REDACTED\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"notes\": \"Task: {{ $json.output.actions[0].notes }} | Deadline: {{ $json.output.actions[0].deadline }}\",\n  \"tags\": [\"contractor-task\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        -288
      ],
      "id": "ceb87d2c-e90a-4b6f-ad2b-f9ad25e11420",
      "name": "Contractor Assignment"
    },
    {
      "parameters": {
        "url": "https://crm.businessstartupqatar.com/rest/people/{{ $json.output.actions[3].contractor }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer REDACTED\",\n  \"Content-Type\": \"application/json\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        -288
      ],
      "id": "739995ab-02a5-49d0-bfe3-e124288d8325",
      "name": "Search Contractor"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "speech-input",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        48,
        -656
      ],
      "id": "7a1d60f4-f50d-4b25-bc13-cbbc6b26ac52",
      "name": "Webhook",
      "webhookId": "346d5e33-b415-40ef-b2fa-c81d21c40107"
    },
    {
      "parameters": {
        "url": "https://crm.businessstartupqatar.com/rest/people/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter[firstName][contains]",
              "value": "{{ $json.message.content.name }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        -896
      ],
      "id": "b36fd457-0e7e-4da2-80bd-bd5a0efb2fc5",
      "name": "Search Contact"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audio"
            },
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "response-format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        -656
      ],
      "id": "acb5a7d2-1ae7-401c-8cd4-3c79ca929ff2",
      "name": "Transcript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://crm.businessstartupqatar.com/rest/calendar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"linked_person_email\": \"{{ $json.data.people[23].emails.primaryEmail }}\",\n  \"timestamp\": \"{{ $('Webhook').item.json.body.timestamp }}\",\n  \"notes\": \"Link to transcript:{{ $('Transcript').item.json.text }} \"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        -928
      ],
      "id": "d6ce5c6a-a301-4c11-a2ed-21f2df3d385e",
      "name": "Create Event"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "dde4fccb-e8e0-4191-9b73-fa1f5eacd729",
              "leftValue": "={{ $json.data.people[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        -896
      ],
      "id": "0f92ef40-fe06-4dee-afc0-7e9e84484813",
      "name": "Contact Found?"
    },
    {
      "parameters": {
        "content": "##   Offline Path\n",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -640
      ],
      "typeVersion": 1,
      "id": "e1b124a7-acfa-4e5d-a0cc-8e163be59534",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Online Path\n",
        "height": 80,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -384
      ],
      "typeVersion": 1,
      "id": "6bb41bc9-bb90-4e94-a565-a357010a64ef",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract the full name of the person in the meeting from this text: {{ $json.text }}\nOnly return the name as a string. "
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        464,
        -896
      ],
      "id": "f7aad274-ddec-4722-8dd1-f82e855c4951",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "52hBaVyJevbvyOiu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://crm.businessstartupqatar.com/api/v1/people",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhMjY2ZTdjYy01YWQzLTQwMzUtOTk2Yi02NDA1NDcxMmE2MGIiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiYTI2NmU3Y2MtNWFkMy00MDM1LTk5NmItNjQwNTQ3MTJhNjBiIiwiaWF0IjoxNzUyMzI1NDgwLCJleHAiOjQ5MDU5MjU0ODMsImp0aSI6IjU5ZDgyYmY4LTE2MjgtNGRjOS05MGQzLTZmMmU1YjgzOGY1ZiJ9.MpPp19sqwJtg8Nderyv9OXIE_yLbPiKodrw7KDvD5s8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{$json[\"data\"]}}\",\n  \"custom_fields\": {\n    \"meetingType\": \"unscheduled\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        -800
      ],
      "id": "28c978b3-b440-4b2a-b95c-6d075313ece8",
      "name": "Create Contact"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.actions",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1488,
        -560
      ],
      "id": "a5bc67c2-d277-4fab-a052-6924dcd7f498",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2128,
        -656
      ],
      "id": "bc04accf-893b-40d8-84a0-f3a399363029",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hWaFmpND6SZixT9B",
          "name": "Google Drive Steve"
        }
      }
    }
  ],
  "pinData": {
    "Google Calendar": [
      {
        "json": {
          "kind": "calendar#event",
          "etag": "\"3138187591196000\"",
          "id": "6krj0pj461i62b9kc4o30b9k6co3ib9pcli30b9pc4p30c1g71im4cb4ck",
          "status": "confirmed",
          "htmlLink": "https://www.google.com/calendar/event?eid=NmtyajBwajQ2MWk2MmI5a2M0bzMwYjlrNmNvM2liOXBjbGkzMGI5cGM0cDMwYzFnNzFpbTRjYjRjayBzb2x1dGlvbnM0QG0",
          "created": "2019-09-21T19:23:15.000Z",
          "updated": "2019-09-21T19:23:15.598Z",
          "summary": "Zoom meeting invitation - Steve Mackie's Zoom Meeting",
          "description": "Steve Mackie is inviting you to a scheduled Zoom meeting.\r\n\r\nTopic: Steve Mackie's Zoom Meeting\r\nTime: Sep 22, 2019 09:30 PM Qatar\r\n\r\nJoin Zoom Meeting\r\nhttps://zoom.us/j/292363427\r\n\r\nOne tap mobile\r\n+16465588656,,292363427# US (New York)\r\n+19294362866,,292363427# US (New York)\r\n\r\nDial by your location\r\n        +1 646 558 8656 US (New York)\r\n        +1 929 436 2866 US (New York)\r\n        +1 408 638 0968 US (San Jose)\r\nMeeting ID: 292 363 427\r\nFind your local number: https://zoom.us/u/a2g3IVagy",
          "location": "https://zoom.us/j/292363427",
          "creator": {
            "email": "solutions4@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "solutions4@gmail.com",
            "self": true
          },
          "start": {
            "dateTime": "2019-09-22T21:30:00+03:00",
            "timeZone": "Asia/Qatar"
          },
          "end": {
            "dateTime": "2019-09-22T22:30:00+03:00",
            "timeZone": "Asia/Qatar"
          },
          "iCalUID": "6krj0pj461i62b9kc4o30b9k6co3ib9pcli30b9pc4p30c1g71im4cb4ck@google.com",
          "sequence": 0,
          "extendedProperties": {
            "private": {
              "eventAttendeeList": "[]"
            }
          },
          "reminders": {
            "useDefault": true
          },
          "eventType": "default"
        }
      }
    ]
  },
  "connections": {
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Online Recording Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Online Recording Trigger": {
      "main": [
        [
          {
            "node": "Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay": {
      "main": [
        [
          {
            "node": "Get a transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Transcript Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Transcript Analysis",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Actionable Items?": {
      "main": [
        [
          {
            "node": "Reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update CRM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Contractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Analysis": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a transcript": {
      "main": [
        [
          {
            "node": "Transcript Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Contractor": {
      "main": [
        [
          {
            "node": "Contractor Assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Transcript Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Contact": {
      "main": [
        [
          {
            "node": "Contact Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Found?": {
      "main": [
        [
          {
            "node": "Create Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Search Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact": {
      "main": [
        [
          {
            "node": "Create Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Actionable Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Send Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "61b1f0c7-d768-422f-b3cb-9db70705c4de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "29b0940c858f01075acc60cfebb83424e9330f9cae0db980f5aa9a36401e8edf"
  },
  "id": "56rnfNzq1BxDl3Ep",
  "tags": []
}